In [17]:
import os
import pandas as pd
from CastleDefense.data_analysis.preprocessing_data import get_combined_tracking_data, get_tackles_data, get_plays_data

tracking_df = get_combined_tracking_data()
tackles_df = get_tackles_data()
plays_df = get_plays_data()

print('Length of tracking_df: ', len(tracking_df))
print('Length of tackles_df: ', len(tackles_df))
print('Length of plays_df: ', len(plays_df))

Length of tracking_df:  12187398
Length of tackles_df:  17426
Length of plays_df:  12486

In [2]:
tracking_df.head()

,gameId,playId,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event,made_tackle
0,2022090800,56,35472.0,Rodger Saffold,1,2022-09-08 20:24:05.200000,76.0,BUF,left,88.37,27.27,1.62,1.15,0.16,231.74,147.90,NaN,0
1,2022090800,56,35472.0,Rodger Saffold,2,2022-09-08 20:24:05.299999,76.0,BUF,left,88.47,27.13,1.67,0.61,0.17,230.98,148.53,pass_arrived,0
2,2022090800,56,35472.0,Rodger Saffold,3,2022-09-08 20:24:05.400000,76.0,BUF,left,88.56,27.01,1.57,0.49,0.15,230.98,147.05,NaN,0
3,2022090800,56,35472.0,Rodger Saffold,4,2022-09-08 20:24:05.500000,76.0,BUF,left,88.64,26.90,1.44,0.89,0.14,232.38,145.42,NaN,0
4,2022090800,56,35472.0,Rodger Saffold,5,2022-09-08 20:24:05.599999,76.0,BUF,left,88.72,26.80,1.29,1.24,0.13,233.36,141.95,NaN,0

In [3]:
tackles_df.head()

       gameId  playId  nflId  tackle  assist  forcedFumble  pff_missedTackle
0  2022090800     101  42816       1       0             0                 0
1  2022090800     393  46232       1       0             0                 0
2  2022090800     486  40166       1       0             0                 0
3  2022090800     646  47939       1       0             0                 0
4  2022090800     818  40107       1       0             0                 0

In [38]:
print('Count of tackles: ', len(tackles_df[tackles_df['tackle']==1]))
print('Count of individual assists: ', len(tackles_df[tackles_df['assist']==1]))
print('Count of tackles or assists: ', len(tackles_df[(tackles_df['tackle']==1) | (tackles_df['assist']==1)]))
print('Count of Plays: ', len(plays_df))

Count of tackles:  9919
Count of individual assists:  5494
Count of tackles or assists:  15413
Count of Plays:  12486

In [34]:
# Group by 'gameId' and 'playId' and sum the 'tackle' and 'assist' columns
tackles_summary = tackles_df.groupby(['gameId', 'playId']).agg({
    'tackle': 'sum',
    'assist': 'sum'
}).reset_index()

# Display the summary
print(tackles_summary.head())

# Count the number of plays where a tackle or assist was made
plays = len(tackles_summary)
plays_with_tackle = len(tackles_summary[tackles_summary['tackle'] > 0])
plays_without_tackle = len(tackles_summary[tackles_summary['tackle'] == 0])
plays_with_assist = len(tackles_summary[tackles_summary['assist'] > 0])
plays_without_assist = len(tackles_summary[tackles_summary['assist'] == 0])
plays_with_multiple_assists = len(tackles_summary[tackles_summary['assist'] > 1]) 

print(f"Number of plays in tackles_df: {plays}")
print(f"Number of plays with a tackle: {plays_with_tackle}")
print(f"Number of plays without a tackle: {plays_without_tackle}")
print(f"Number of plays with at least one assist: {plays_with_assist}")
print(f"Number of plays without an assist: {plays_without_assist}")
print(f"Number of plays with multiple assists: {plays_with_multiple_assists}")

       gameId  playId  tackle  assist
0  2022090800      56       1       0
1  2022090800      80       1       0
2  2022090800     101       1       0
3  2022090800     122       1       0
4  2022090800     146       0       2
Number of plays: 12025
Number of plays with a tackle: 9918
Number of plays without a tackle: 2107
Number of plays with an assist: 3490
Number of plays without an assist: 8535
Number of plays with multiple assists: 2004